[Unit]
Description=Restore multi-v2ray firewall rules
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/multi-v2ray/restore_iptables.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
